<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.chenlinghong.institution.repository.dao.AdvanceDao">

    <resultMap id="BaseResultMap" type="club.chenlinghong.institution.repository.domain.Advance">
        <id column="id" property="id" jdbcType="INTEGER" javaType="int"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" javaType="Date"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" javaType="Date"/>
        <result column="deleted" property="deleted" jdbcType="VARCHAR" javaType="Integer"/>
        <result column="course_id" property="courseId" jdbcType="INTEGER" javaType="int"/>
        <result column="user_id" property="userId" jdbcType="INTEGER" javaType="int"/>
        <result column="money" property="money" jdbcType="INTEGER" javaType="int"/>
        <result column="number" property="number" jdbcType="VARCHAR" javaType="String"/>
        <association property="course" column="course_id"
                     javaType="club.chenlinghong.institution.repository.domain.Course"
                     select="club.chenlinghong.institution.repository.dao.CourseDao.getById">
        </association>
        <association property="user" column="user_id"
                     javaType="club.chenlinghong.institution.repository.domain.User"
                     select="club.chenlinghong.institution.repository.dao.UserDao.getById">
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        gmt_create, gmt_modified, deleted, course_id,user_id,money,`number`
    </sql>

    <sql id="column_list">
        `id`, <include refid="Base_Column_List"></include>
    </sql>

    <sql id="default_value">
        current_timestamp , current_timestamp , "0"
    </sql>

    <insert id="insert" parameterType="club.chenlinghong.institution.repository.domain.Advance">
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            SELECT last_insert_id()
        </selectKey>
        INSERT into
        advance(<include refid="Base_Column_List"></include>)
        values(<include refid="default_value"></include>, #{courseId}, #{userId},#{money},#{number})
    </insert>

    <update id="deleteById" parameterType="int">
        update advance
        set deleted = '1'
        where id = #{id}
    </update>

    <select id="getById" parameterType="Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="column_list"/>
        FROM
        advance
        WHERE
        id=#{id} and deleted = "0"
    </select>

    <select id="listAll" resultMap="BaseResultMap">
        SELECT
        <include refid="column_list"/>
        FROM
        advance
        where deleted = "0"
        order by id desc
        <choose>
            <when test="offset != null and rows != null">
                limit #{offset},#{rows}
            </when>
            <otherwise>
                limit 0,10
            </otherwise>
        </choose>
    </select>

    <select id="count" resultType="int">
        SELECT
        count(*)
        FROM
        advance
        where deleted = "0"
    </select>

    <update id="update" parameterType="club.chenlinghong.institution.repository.domain.Advance">
        update advance
        set
            gmt_modified = current_timestamp,
            course_id = #{courseId},
            user_id = #{userId},
            money = #{money},
            `number` = #{number}
        where id = #{id}
    </update>

    <select id="listByUserId" parameterType="Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="column_list"/>
        FROM
        advance
        WHERE
        user_id=#{userId} and deleted = "0"
    </select>

    <select id="listByCourseId" parameterType="Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="column_list"/>
        FROM
        advance
        WHERE
        course_id=#{courseId} and deleted = "0"
    </select>

</mapper>